<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jarvis.navigationlearn">

    <application
        android:name="debug.ModuleAccplication"
        android:allowBackup="true"
        android:icon="@mipmap/lib_ic_launcher"
        android:label="@string/base_app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        tools:replace="android:theme,name,icon,allowBackup,label">
        <activity android:name="debug.ModuleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.jarvis.navigationlearn.MainNavigationActivity" />

    </application>
</manifest>