<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jarvis.hencoder">

    <application
        android:name="debug.ModuleAccplication"
        android:allowBackup="true"
        android:icon="@mipmap/lib_ic_launcher"
        android:label="@string/hc_app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        tools:replace="android:theme,name,icon,allowBackup,label">

        <activity android:name="debug.ModuleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HCMainActivity" />
        <activity android:name=".view.HCViewDrawActivity"/>
        <activity android:name=".view.HCViewActivity"/>
        <activity android:name=".view.HCMaterialEditTextActivity"/>
        <activity android:name=".view.HCScaleableImageViewActivity"/>
        <activity android:name=".view.TouchViewActivity"/>

    </application>

</manifest>